body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 8px 8px 8px 8px;
  padding: 8px
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin: 16px 8px 16px 8px;
}

.button-container {
  margin-top: 10px;
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  margin: 16px 8px 16px 8px;
}

button {
  background: white;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}